html {
  font-size: 14px;
  // color: blue;
}

body {
  background-color: darkgray;
}

p {
  color: rebeccapurple;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  font-size: 16px;
  color: darkblue;
  list-style: none;
  padding-left: 0;
  
  li {
    text-transform: uppercase;

    &.active {
      color: crimson;
    }
  }
}

.contain {
  text-align: center;
}